body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* display: ; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("image2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}



.navbar {
    background-color: #111827b0;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px;
    font-size: 15px;
    font-style: italic;
    font-family: system-ui;
}

.navbar-left h1 {
    margin: 0;
}

.navbar-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-right a:hover {
    text-decoration: underline;
}

.container {
    position: relative;
}

.container .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    gap: 0px;
}

.upload-section,
.preview-section {
    width: 25%;
}

.ingredients-section {
    width: 100%;
    margin-top: 20px;
}

.upload-section h2,
.ingredients-section h2,
.preview-section h2 {
    margin-bottom: 10px;
}

.upload-section input[type="file"],
.upload-section button,
.ingredients-section textarea {
    display: block;
    margin-bottom: 10px;
}

.preview-section #previewImage {
    width: 100%;
    height: 200px;
    background-image: url('background_food_image.jpg');
    /* Replace 'background_food_image.jpg' with your image file */
    background-size: cover;
    background-position: center;
    position: relative;
    /* Added */
}

.preview-section #previewImage .ingredients-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* Added */
    padding: 10px;
    /* Added */
}

.preview-section #previewImage .ingredients-section textarea {
    width: calc(100% - 20px);
    /* Added */
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

.upload-section input[type="file"],
.upload-section button,
.ingredients-section textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.upload-section button,
#sampleImageButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 308px
}

.upload-section button:hover,
#sampleImageButton:hover {
    background-color: #45a049;
}

.upload-section input[type="file"] {
    display: none;
}

.upload-section img {
    width: 312px;
    height: 261px;
    margin-bottom: 10px;
}